{% extends 'EventBundle:Event:events.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset ('event/css/comment.css') }}" rel="stylesheet" type="text/css" media="all" />
    <style>
        .btn-danger {
            float: right; !important;
        }
        .comm {
            float:right; !important;
            color: #fff; !important;
            background-color: #00a0dc; !important;
            border-color: #00a0dc; !important;
        }
        .fieldset[disabled] {
            float:right; !important;
            color: #fff; !important;
            background-color: #00a0dc; !important;
            border-color: #00a0dc; !important;
        }
        .btn-danger[disabled]{
            float:right; !important;
            color: #fff; !important;
            background-color: #00a0dc; !important;
            border-color: #00a0dc; !important;
        }
        .sh {
            float:left; !important;
            color: black; !important;
        }
    </style>
{% endblock %}
{% block home %}
    {{ tag }}
{% endblock %}
{% block eventBody %}
    {% if event %}
    <div class="col-md-6 span_2_of_3">
        <div class="row">
            <div class="col-md-12">
                <div class="product-title">
                    <h3> {{ event.nom }}</h3> </br>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div id="collapse1" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <img class="img-responsive center-block" src="{{ asset ('affiches/'~ event.affiche)}}"/>
                            <br>
                            <div class="col-md-10 cta-button">
                                    <p> Description: <br>
                                        {{ event.description }}</p>
                            </div>
                            <br>
                            <div class="product-auction-form">
                                {%  form_theme formRes 'bootstrap_4_layout.html.twig' %}
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {% if check == 0 %}
                                    {{ form(formRes) }}
                                {% else %}
                                {{ form_start(formRes) }}
                                {{ form_widget(formRes.valider, {'disabled' : true}) }}
                                {{ form_end(formRes) }}
                                {% endif %}
                                {% endif %}

                            </div>
                        </div>
                    </div>

                </div>
                <div class="product-widget ">
                    <ul class="list-group">

                        <li class="list-group-item"> <span class="badge">{{ event.type }} </span> Type d'événement</li>
                        <li class="list-group-item"> <span class="badge">{{ event.typeReservation }}</span> Type de réservation</li>
                        {% if event.prix %}<li class="list-group-item"> <span class="badge"> {{ event.prix }} DT </span> Prix</li>{% endif %}
                        <li class="list-group-item"> <span class="badge">{{ event.dateEvent | date('d F Y H:i') }}	</span> Date</li>
                        <li class="list-group-item"> <span class="badge">{{ event.duree }}</span>Durée</li>
                        <li class="list-group-item"> <span class="badge">{{ event.lieu }}</span>Localisation</li>
                        <li class="list-group-item"> <span class="badge">{{ event.nombre }}</span> Quota</li>
                        <li class="list-group-item"> <span class="badge">{{ dispo }}</span> Places disponibles </li>
                    </ul>
                </div>

            </div>

            <div class="col-md-6">

                <div class="comments">
                    <div class="comment-wrap">
                        <div class="photo">
                            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
                        </div>
                        <div class="comment-block">
                            {%  form_theme formCom 'bootstrap_4_layout.html.twig' %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {{ form(formCom) }}
                            {% else %}
                                {{ form_start(formCom) }}
                                {{ form_widget(formCom.contenu) }}
                                {{ form_widget(formCom.valider, {'disabled' : true, 'attr' : {'class' : 'btn btn-danger comm'}}) }}
                                {{ form_end(formCom) }}
                            {% endif %}

                        </div>
                    </div>

                    {%  if event.commentaires %}
                        {% for commentaire in event.commentaires %}
                    <div class="comment-wrap">
                        <div class="photo">
                            <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/felipenogs/128.jpg')"></div>
                        </div>
                        <div class="comment-block">
                            <p class="comment-text">{{ commentaire.contenu }}</p>
                            <div class="bottom-comment">
                                <div class="comment-date">{{ commentaire.post | date(' d F Y H:i') }}</div>
                                <ul class="comment-actions">
                                    <li class="complain" id="{{ commentaire.id }}">Reporter</li>
                                    <li class="reply det" id="{{ commentaire.id }}">Détails</li>
                                </ul>
                                <br>
                            <div hidden class="comment-text {{ commentaire.id }} sh ">
                                Utilisateur : {{ commentaire.idUser.username }} <br>
                                Etat : {{ commentaire.EtatCommentaire }}
                            </div>
                            </div>
                        </div>
                    </div>
                       {% endfor %}
                    {% endif %}


                </div>

            </div>

                </div>
    </div>

        <script>
            $(document).ready(function() {
                $('.complain').on("click",function() {
                    var id = {"idComm" : this.id, "id" : {{ event.id }} }
                    $.ajax({
                        type: 'POST',
                        url : '{{ path('details_event') }}', // La ressource ciblée
                        data: id,
                        success: function (id) {
                            alert("Votre signalisation a été prise en considération");
                        }
                    });
                });

            });
            </script>
            <script>
                $(document).ready(function() {
                    $('.det').on("click", function () {
                        var id = this.id
                        $("." + id).show();
                    });
                });
        </script>
{% endif %}

{% endblock %}