{% extends '::default/Layout.html.twig' %}
{% block body %}
    <div class="contact">

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        {%  else %}
            <div class="alerts">
                <div class="alert alert-danger" role="alert">
                    <strong>Aucune Authentification!</strong> Pour créer un compte cliquez <a href="{{ path('fos_user_registration_register') }}">ici</a>.
                </div>
            </div>
        {%  endif %}
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="{{ path('homepage') }}">Home</a></li>
                <li><a href="{{ path('event_homepage') }}">Evénements</a></li>
                <li class="active">{% block home %}
                    {% endblock %}</li>
            </ol>
            <!--start contact-->
            <div class="section group">
                <div class="col-md-6 span_1_of_3">
                    <section  class="sky-form">
                        <div class="product_right">

                            <div class="tab1">
                                <ul class="place">
                                    <li class="sort"><img src="{{asset('images/events_home.png')}}" alt=""></li>
                                    <li class="by">Evénements</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="single-bottom">
                                    <a href="{{ path('ajouter_event') }}"><p>Ajout d'un événement</p></a>
                                    <a href="{{ path('my_events') }}"><p>Mes événements</p></a>
                                    <a href="{{ path('lister_event') }}"><p>Liste des événements</p></a>
                                </div>
                            </div>
                            <div class="tab2">
                                <ul class="place">
                                    <li class="sort"><img src="{{asset('images/activities.png')}}" alt=""></li>
                                    <li class="by">Activités</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="single-bottom">
                                    <a href="{{ path('ajouter_event') }}"><p>Ajout d'un événement</p></a>
                                    <a href="{{ path('modifier_event') }}"><p>Modifier un événement</p></a>
                                    <a href="{{ path('lister_event') }}"><p>Liste des événements</p></a>
                                </div>
                            </div>
                            <div class="tab3">
                                <ul class="place">
                                    <li class="sort"><img src="{{asset('images/galleries.png')}}" alt=""></li>
                                    <li class="by">Galleries</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="single-bottom">
                                    <a href="{{ path('ajouter_event') }}"><p>Ajout d'un événement</p></a>
                                    <a href="{{ path('modifier_event') }}"><p>Modifier un événement</p></a>
                                    <a href="{{ path('lister_event') }}"><p>Liste des événements</p></a>
                                </div>
                            </div>
                            <div class="tab4">
                                <ul class="place">
                                    <li class="sort"><img src="{{asset('images/mes_reservations.png')}}" alt=""></li>
                                    <li class="by">Mes réservations</li>
                                    <div class="clearfix"> </div>
                                </ul>
                                <div class="single-bottom">
                                    <a href="{{ path('ajouter_event') }}"><p>Ajout d'un événement</p></a>
                                    <a href="{{ path('modifier_event') }}"><p>Modifier un événement</p></a>
                                    <a href="{{ path('lister_event') }}"><p>Liste des événements</p></a>
                                </div>
                            </div>

                            <!--script-->
                            <script>
                                $(document).ready(function(){
                                    $(".tab1 .single-bottom").hide();
                                    $(".tab2 .single-bottom").hide();
                                    $(".tab3 .single-bottom").hide();
                                    $(".tab4 .single-bottom").hide();
                                    $(".tab5 .single-bottom").hide();

                                    $(".tab1 ul").click(function(){
                                        $(".tab1 .single-bottom").slideToggle(300);
                                        $(".tab2 .single-bottom").hide();
                                        $(".tab3 .single-bottom").hide();
                                        $(".tab4 .single-bottom").hide();
                                        $(".tab5 .single-bottom").hide();
                                    })
                                    $(".tab2 ul").click(function(){
                                        $(".tab2 .single-bottom").slideToggle(300);
                                        $(".tab1 .single-bottom").hide();
                                        $(".tab3 .single-bottom").hide();
                                        $(".tab4 .single-bottom").hide();
                                        $(".tab5 .single-bottom").hide();
                                    })
                                    $(".tab3 ul").click(function(){
                                        $(".tab3 .single-bottom").slideToggle(300);
                                        $(".tab4 .single-bottom").hide();
                                        $(".tab5 .single-bottom").hide();
                                        $(".tab2 .single-bottom").hide();
                                        $(".tab1 .single-bottom").hide();
                                    })
                                    $(".tab4 ul").click(function(){
                                        $(".tab4 .single-bottom").slideToggle(300);
                                        $(".tab5 .single-bottom").hide();
                                        $(".tab3 .single-bottom").hide();
                                        $(".tab2 .single-bottom").hide();
                                        $(".tab1 .single-bottom").hide();
                                    })

                                });
                            </script>
                            <!-- script -->
                    </section>
                </div>
                {% block eventBody %}
                {% endblock %}
            </div>
        </div>
    </div>

{% endblock %}