{% extends '::default/Layout.html.twig' %}

{% block body %}
<br><br>
    <div class="product-model">
        <div class="container">

            <h2>Mes documents en attente de validation</h2>
            <div class="col-md-9 product-model-sec">
                {% if docs|length < 1 %}
                <h4 class="item_price">vous n'avez pas encore partegé de document</h4>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                {% else %}
    {% for doc in docs %}
                {% if doc.etat == 'en attente' %}
                <a href="{{ path('modifier_document', {'id': doc.id }) }}"><div class="product-grid">
                        <div class="more-product"><span> </span></div>
                        <div class="product-img b-link-stripe b-animate-go  thickbox">
                            <img src="{{ asset('images/pdf.png') }}" class="img-responsive" alt="">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button><span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Modifier avant partage</button>
                                </h4>
                            </div>
                        </div></a>
                <div class="product-info simpleCart_shelfItem">
                    <div class="product-info-cust prt_name">
                        <h4>{{ doc.titre }}</h4>
                        <span class="item_price">Niveau: {{ doc.niveau }}</span>
                        <span class="item_price">Matiére: {{ doc.matiere }}</span>
                        <div class="clearfix"> </div>
                        <a href="{{ path('supprimer_document', {'id': doc.id }) }}" class="add-cart item_add"><span class="glyphicon glyphicon-trash"></span></a>
                    </div>

                </div>
            </div>
                    {% endif %}
            {% endfor %}
{% endif %}
    </div>

    <div class="rsidebar span_1_of_left">
        <section  class="sky-form">
            <div class="product_right">
                <div class="tab1">
                    <ul class="place">
                        <li class="sort">Actions</li>
                        <li class="by"><img src="images/do.png" alt=""></li>
                        <div class="clearfix"> </div>
                    </ul>
                    <div class="single-bottom">
                        <a href="{{ path('liste_document') }}"><p>liste des documents</p></a>
                        <a href="{{ path('partager_document') }}"><p>partager un document</p></a>
                    </div>
                </div>
        </section>


    </div>
    </div>
    <center><div class="navigation">
    {{ knp_pagination_render(docs) }}
</div></center>
    </div>
    </div>
    <br><br><br><br><br><br>
{% endblock %}